/* pour ajouter d'autres fonts  */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(190deg, #B3FFAE, #54B435, #379237);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-bottom: 15px;
}

.container {
    padding: 10px;
    width: fit-content;
    height: 450px;
    position: relative;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 50px 15px;
    position: relative;
}

.info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    margin-bottom: 15px;
}

.info label {
    font-family: 'Poppins', sans-serif;
    color: #4C4648;
}

.info input {
    background-color: #eaeaea;
    padding: 8px;
    border: 0;
    outline: none;
    color: #4C4648;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.buttons-container {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);
}

.buttons-container button {
    padding: 10px 15px;
    border: 0;
    color: #4C4648;
    cursor: pointer;
    transition: .5s;
}

button:nth-of-type(1) {
    background: #fe0000;
    color: #eaeaea;
}

button:nth-of-type(2) {
    background: #379237;
    color: #eaeaea;
}

button:nth-of-type(3) {
    background: #1746A2;
    color: #eaeaea;
}

button:hover {
    transform: translateY(-5px);
}