/* Color palette */
:root {
    --Green: #008D36;
    --white: #ffffff;
    --Black: #181D27;
}
@media screen and (min-width: 701px) {
    .background-top > h1 
    {
        font-size: xx-large;
    }
}
@media screen and (max-width: 700px) {
    .background-top > h1 
    {
        font-size: x-large;
    }
}
.background-top
{
    background-image: linear-gradient(var(--Green),
        var(--Green), var(--Green), #016d2a);
    height: 100px;
    width: 100%;
}
.background-top-icon
{
    width: 45px;
    margin-right: 10px;
}
.background-top > h1 
{
    color: var(--white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
}
.table-body-item-icon
{
    width: 35px;
}
.card-filter
{
    display: flex;
}
.card-filter > select, .card-filter>a
{
    margin: 5px;
}
.btn-success
{
    color: white !important;
    background-color: var(--Green) !important;
    border-color: var(--Green) !important;
}
.btn-outline-success:hover
{
color: white !important;
    background-color: var(--Green) !important;
    border-color: var(--Green) !important;
}
.form-select:focus {
    border-color: #28a745 !important;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
}
.filter
{
    display: flex;
    align-items: center;
}
a
{
    color: var(--Green) !important;
    text-decoration: none !important;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:checked,
.btn-secondary:active,
.btn-secondary:enabled
{
    background-color: purple;
    border-color: purple !important;
}
.btn-secondary:focus
{
    box-shadow: 0 0 0 0.2rem rgba(131, 40, 167, 0.25) !important;
}